<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>

  <system.web>
    <customErrors mode="Off" ></customErrors>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=KAVITA-HP;Initial Catalog=LifeSaverDB;Integrated Security=True"/>-->
    <add name="ConnectionString" connectionString="Data Source=NIKHIL-PC;Initial Catalog=DoUKnowDB;Integrated Security=True"/>
  </connectionStrings>
</configuration>